<html>
<head>
  <link href="css\bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="icofont\icofont.min.css">
  <script src="js\jquery.js"></script>
  <script src="js\popper.min.js"></script>
  <script src="js\bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
<a class="navbar-brand" href="#"><i class="icofont-read-book-alt icofont-2x"></i>ReadZ</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav ml-auto">
<li class="nav-item active">
<a class="nav-link" href="homepage.html">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
<a class="nav-link" href="#">About</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="login.html">Login/Signup <span class="sr-only">(current)</span></a>
</li>

</ul>
</nav>


    
  
      

  <div class="container-fluid">
  <div class="row  p-5 " style="background-image:url('images/1.jpg'); background-size:cover; ">
  
  <div class="row container p-5">
    <div class="col-md-3 container text-center">
    <img src="images/BarackObama.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>Barack Obama</strong></h3>
    </div>
    <div class="col-md-3 container text-center">
    <img src="images/Becoming.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>Becoming</strong></h3>
    </div>
    <div class="col-md-3 container text-center">
    <img src="images/KeepSharp.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>Keep Sharp</strong></h3>
    </div>
        <div class="col-md-3 container text-center">
    <img src="images/BlackBuck.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>Black Buck</strong></h3>
    </div>


    </div>


    <div class="row container p-5">
    <div class="col-md-3 container text-center">
    <img src="images/Caste.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>Caste</strong></h3>
    </div>
    <div class="col-md-3 container text-center">
    <img src="images/Deadly.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>Deadly</strong></h3>
    </div>
    <div class="col-md-3 container text-center">
    <img src="images/Greenlights.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>Greenlights</strong></h3>
    </div>
        <div class="col-md-3 container text-center">
    <img src="images/Lore.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>Lore</strong></h3>
    </div>
    </div>

    <div class="row container p-5">
    <div class="col-md-3 container text-center">
    <img src="images/MexicanGothic.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>Mexican Gothic</strong></h3>
    </div>
    <div class="col-md-3 container text-center">
    <img src="images/TheFourWindsANovel.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>The Four Winds A Novel</strong></h3>
    </div>
    <div class="col-md-3 container text-center">
    <img src="images/TheMidnightLibrary.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>The Midnight Library</strong></h3>
    </div>
        <div class="col-md-3 container text-center">
    <img src="images/TheConjurer.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    <h3><strong>The Conjurer</strong></h3>
    </div>
    </div>

        </div>
    </div>
  
 
    
  
      
            



				
</html>