<html>
<head>
    <link href="css\bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="icofont\icofont.min.css">
    <script src="js\jquery.js"></script>
    <script src="js\popper.min.js"></script>
    <script src="js\bootstrap.min.js"></script>
</head>
<body style="background-image:url('images/2.jpg'); background-size:cover; ">
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
<a class="navbar-brand" href="#"><i class="icofont-read-book-alt icofont-2x"></i>ReadZ</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav ml-auto">
<li class="nav-item active">
<a class="nav-link" href="homepage.html">Home <span class="sr-only">(current)</span></a>
</li>

<li class="nav-item active">
<a class="nav-link" href="#">About</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="login.html">Login/Signup <span class="sr-only">(current)</span></a>
</li>

</ul>
</nav>

<div class="container-fluid pt-2 ">
<div class="container">
<div class="row text-center pt-5">
<div class="col-md-1"></div>
<div class="col-md-4 pt-3 "><i class="icofont-read-alt-book icofont-5x text-dark "></i>
</div>
</div>
<div class="row  pt-3 text-center">
<div class="col-md-1"></div>
<div class="col-md-4">
<h2>Sign In to start</h2><br>
</div>
</div>
<div class="row text-center">
<div class="col-md-1"></div>
<div class="col-md-4 pt-3 pb-3" style="border:1px solid black ; border-radius:5% ">
<form>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="icofont-envelope "></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
</div><br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="icofont-ui-lock "></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
</div>
<button class="btn btn-success">Sign In</button>
</form>
New User? &nbsp<a href="register.html">Click Here To register</a>
</div>
</div>
</div>
</div>
</div>
</body>
</html>