
    <html>
        {% load static %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="{%static "css\bootstrap.min.css" %}" rel="stylesheet"/>
<link rel="stylesheet" href="{%static "css\sidebar\style.default.css" %}">
<link rel="shortcut icon" href="{%static "favicon.png" %}">
<link rel="stylesheet" type="text/css" href="{%static "icofont\icofont.min.css" %}">
<script src="{%static "js\jquery.js" %}"></script>
<script src="{%static "js\popper.min.js" %}"></script>
<script src="{%static "js\bootstrap.min.js" %}"></script>
<!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{%static "css\style.css" %} ">

    <!-- Font Awesome JS -->
    <script defer src="http
    s://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-color-app bg-success nav-custom-style">
        <a class="navbar-brand" href="#"><i class="icofont-read-book-alt icofont-2x"></i>ReadZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto nav-menu-list">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login/signup</a>
                </li>
                

            </ul>
    </nav>
    <div class="container-fluid">
        <div class="row  p-5 " style="background-image:url('images/1.jpg'); background-size:cover; ">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12 pb-4 ">
                        <h1 class="color-app">Horror Books</h1>
                    </div>
                </div>
            </div>
            <div class="row p-5">
               <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                     <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/TinyNightmares.jpg" %} class="img-thumbnail" alt="Cinque Terre" width="304"
                        height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Tiny Nightmares</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/Claw.jpg" %} class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Claw</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/FantasticLand.jpg" %}class="img-thumbnail" alt="Cinque Terre" width="304"
                        height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Fantastic Land</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/Intercepts.jpg" %} class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Intercepts</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/Passive.jpg" %} class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Passive</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/Deadly.jpg" %}class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Deadly</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/SecretSanta.jpg" %} class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Secret Santa</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/Lore.jpg" %} class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Lore</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/CellarDoor.jpg" %} class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Cellar Door</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/TheFourWindsANovel.jpg" %} class="img-thumbnail" alt="Cinque Terre" width="304"
                        height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>The Four Winds</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/TheMidnightLibrary.jpg" %} class="img-thumbnail" alt="Cinque Terre" width="304"
                        height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>The Midnight Library</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="./ebook.pdf" target="_blank">
                        <img src={%static "images/TheConjurer.jpg" %}class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>The Conjurer</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>