<!-- dynamic page displaying books from backend of mystery genre-->
    <html>
    {% load static %}
<head>
    <link href="css\bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="icofont\icofont.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script src="js\jquery.js"></script>
    <script src="js\popper.min.js"></script>
    <script src="js\bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-color-app bg-success nav-custom-style">
        <a class="navbar-brand" href="#"><i class="icofont-read-book-alt icofont-2x"></i>ReadZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto nav-menu-list">
                <li class="nav-item active">
                    <a class="nav-link" href="/index"> Back to Library <span class="sr-only">(current)</span></a>
                </li>
                

                

            </ul>
    </nav>
    
        <body style="background-image:url('{%static "images/1.jpg" %}'); background-size:cover; ">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Mystery Books</h1>
                </div>
                
            </div>
            <div class="row ">
                <!--- all rows from mystery model are fetched in us and then displayed-->
            {% for us in mys %}
            {% if forloop.counter0|divisibleby:2 %}
            </div><br>
            <div class="row">
                
            {% endif %}
            <div class="col-md-2"></div>
            <div class="col-md-3 pt-3 pb-3">
            <div class="card" style="width:18rem; height:16rem ;">
            <a href="/ebook"><img class="card-img-top" src="{{ us.image1.url }}" width="250" height="250" alt="not available"></a>
            <div class="card-body">
            
            </div>
            </div>
            <br><h4 class="text-center">{{ us.Name }}</h4> 
            </div>
            {% endfor %}
            </div>
        
            
            
            
            

</html>