<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{%static " css\bootstrap.min.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="{%static " css\sidebar\style.default.css" %}">
    <link rel="shortcut icon" href="{%static " favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{%static " icofont\icofont.min.css" %}">
    <script src="{%static " js\jquery.js" %}"></script>
    <script src="{%static " js\popper.min.js" %}"></script>
    <script src="{%static " js\bootstrap.min.js" %}"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{%static " css\style.css" %} ">

    <!-- Font Awesome JS -->
    <script defer src=" http s://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
        </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="#"><i class="icofont-read-book-alt icofont-2x"></i>ReadZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/post_page">Dashboard<span class="sr-only">(current)</span></a>
            </li>

        </ul>
</nav>

<body style="background-image:url('{%static "images/new.jpg" %}'); background-size:cover; "></body>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="mr-2">
                        <img class="rounded-circle" width="100" src="https://picsum.photos/50/50" alt="">
                    </div>
                    <div class="h5">@ {{user.username}} </div>


                    
                </div>

            </div>
            <div class="card-body pt-0 pt-md-4">
                <div class="row">
                    <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                            
                        </div>
                    </div>

                </div>
                <div class="text-center">
                    <h3>
                        {{ user.username }}<span class="font-weight-light"></span>
                    </h3>
                    <div class="h5 font-weight-200">
                        <i class="ni location_pin mr-2"></i>Windsor, Canada.
                    </div>
                    <div class="h5 mt-4">
                        <a href="#"></a>
                    </div>
                    <hr class="my-4">
                    <div class="d-flex flex-column justify-content-space">
                        <div class="my-2">
                            <div class="btn btn-success">
                                <a href="/userCollection" class="text-white"  style="text-decoration: none;">
                                    My Collection
                                </a>
                            </div>
                        </div>
                        <div class=" my-2">
                            <div class="btn btn-success"><a href="/index" class="text-white"  style="text-decoration: none;">
                                    Library</a></div>
                        </div>
                        
                        
                        <div class="my-2 ">
                            <div class="btn btn-success "><a href="/exchange" class="text-white" 
                                    style="text-decoration: none;">Book Exchange</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 gedf-main">

            <!--- \\\\\\\Post-->
            
                            <div class="container">
                                <form method="POST" action="/post_page1/">
                                    <fieldset class="form-group border p-3">
                                        <h2>Create Post Here</h2>
                                        <div class="form-group">
                                            <label for="Comment">What are you thinking?:</label>
                                            <input type="text" class="form-control" id="Comment" placeholder="type..." name="Comment">
                                        </div>
                                        <div class="form-group">
                                            
                                            <input type="hidden" class="form-control" id="Name" placeholder="type..." name="Name" value= "{{ user.username }}" >
                                        </div>
                                    {% csrf_token %}
                                    
                                    
                                  </fieldset>
                                  <div class="form-group row text-right">
                        <div class="col">
                            <button type="submit" class="btn btn-success btn-customized">Submit</button>
                        </div>
                    </div>
                                </form>
                                
                            
                              
                        
                                
                
            <!-- Post /////-->
            {% for us in pos %}
            <div class="card gedf-card my-2">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">@{{ us.Name }}</div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">

                    <a class="card-link" href="#">
                        

                    </a>

                    <p class="card-text">
                        {{ us.Comment }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link" class= text-success><i class="fa fa-gittip" class="text-success"></i> Like</a>
                    <a href="#" class="card-link" class="text-success"><i class="fa fa-comment" class="text-success"></i> Comment</a>
                    <a href="#" class="card-link" class="text-success"><i class="fa fa-mail-forward" class="text-success"></i> Share</a>

                    


                </div>
            </div>
            {% endfor %}
            

            <!--- \\\\\\\Post-->
            
    </div>
</div>