<div class="row">
    {% for us in pos %}
    {% if forloop.counter0|divisibleby:3 %}
    </div><br>
    <div class="row">
    {% endif %}
    <div class="col-4">
    <div class="card" style="width:18rem; height:33rem ;">
    <img class="card-img-top" src="{{ us.photo.url }}" width="230" height="250" alt="not available">
    <div class="card-body">
    <div class="row p-2">
    <div class="col-12">
    <h5 class="card-title "> {{ us.Comment }} </h5>
    </div>
    </div>
    <div class="rowp-2">
    <div class="col-12">
    <p class="card-text ">
    {{ us.city}}<br>
    {{ us.address }}
    </p>
    </div>
    </div>
    </div>
    </div>
    </div>
    {% endfor %}
    </div>