<html>
<head>
  <link href="css\bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="icofont\icofont.min.css">
  <script src="js\jquery.js"></script>
  <script src="js\popper.min.js"></script>
  <script src="js\bootstrap.min.js"></script>
</head>
<body style="background-image:url('images/3.jpg'); background-size:cover; ">
<div class="container-fluid pt-2 ">

<div class="row   text-center">
<div class="col-md-8"></div>
<div class="col-md-3"><br>
<h2 class="text-success">Create your Account</h2>
</div>
</div>
<div class="row pt-3 text-center">
<div class="col-md-8"></div>
<div class="col-md-3 pt-3 pb-3 " style="border:1px solid black ; border-radius:5% ">
<form>
<br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="icofont-user "></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Full Name" aria-label="Username" aria-describedby="basic-addon1">
</div><br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="icofont-envelope "></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
</div><br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="icofont-ui-lock "></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Create password" aria-label="Username" aria-describedby="basic-addon1">
</div><br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="icofont-ui-lock "></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Confirm Password" aria-label="Username" aria-describedby="basic-addon1">
</div><br>
<button class="btn btn-success">Submit</button>
<br>Already have an account? <a href="login.html">sign in here</a> 
</form>
</div>
</div>
</div>
</div>
</div>
</body>
</html>