<html>

<head>
    <link href="css\bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="icofont\icofont.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script src="js\jquery.js"></script>
    <script src="js\popper.min.js"></script>
    <script src="js\bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-color-app bg-success nav-custom-style">
        <a class="navbar-brand" href="#"><i class="icofont-read-book-alt icofont-2x"></i>ReadZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto nav-menu-list">
                
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Back to Library</a>
                </li>

                <!-- <li class="nav-item active">
                    <a class="nav-link" href="login.html">Login / Signup <span class="sr-only">(current)</span></a>
                </li> -->

            </ul>
    </nav>
    <div class="">
        <div class="p-5" style="background-image:url('../static/images/1.jpg'); background-size:cover; ">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12 pb-4 ">
                        <h1 class="color-app">Travel Books</h1>
                    </div>
                </div>
            </div>
            <div class="row p-5">
               <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                     <a href="/ebook" target="_blank">
                        <img src="../static/images/BornToRun.jpg" class="img-thumbnail" alt="Cinque Terre" width="304"
                        height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Born To Run</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/Icebound.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Icebound</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/IntoTheAbyss.jpg" class="img-thumbnail" alt="Cinque Terre" width="304"
                        height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Into The Abyss</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/LeaveOnlyFootprints.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Leave Only Footprints</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/NomadCapitalist.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Nomad Capitalist</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/OldWorldItalian.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Old World Italian</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/PaintBySticker.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Paint By Sticker</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/Shipped.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>Shipped</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/TheBucketList.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>The Bucket List</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/TheNewMap.jpg" class="img-thumbnail" alt="Cinque Terre" width="304"
                        height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>The New Map</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/TheOpenRoad.jpg" class="img-thumbnail" alt="Cinque Terre" width="304"
                        height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>The Open Road</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6  col-lg-2  col-xl-2  container text-center">
                    <a href="/ebook" target="_blank">
                        <img src="../static/images/TheWineBible.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                    </a>
                    <div class="card-body">
                        <h3><strong>The Wine Bible</strong></h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>