<!DOCTYPE html>
<html lang="en-US">
  {% load static %}


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{%static " css\bootstrap.min.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="{%static " css\sidebar\style.default.css" %}">
    <link rel="shortcut icon" href="{%static " favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{%static " icofont\icofont.min.css" %}">
    <script src="{%static " js\jquery.js" %}"></script>
    <script src="{%static " js\popper.min.js" %}"></script>
    <script src="{%static " js\bootstrap.min.js" %}"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{%static " css\style.css" %} ">

    <!-- Font Awesome JS -->
    <script defer src=" http s://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous">
        </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="#"><i class="icofont-read-book-alt icofont-2x"></i>ReadZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/post_page">Dashboard <span class="sr-only">(current)</span></a>
          </li>

        </ul>
</nav>


      </div>
      <body style="background-image:url('{%static "images/1.jpg" %}'); background-size:cover; "></body>
      <div class="da-home-page-text flex-grow-1 d-flex align-items-center" data-aos="fade-right" data-aos-duration="1000">
        <div class="container">
          <div class="col-md-10 col-sm-12 px-0 mx-0">
            <h2 class="display-3 text-uppercase">READZ</h2>
            <h3 class="h4 mt-3">Your Favourite Collection Is Given Below</h3><a class="smooth-scroll btn btn-outline-light mt-4" href="#collections">View Collections</a>
          </div>
        </div>
      </div>
    </header>
    <div class="row ">
      {% for us in books %}
      {% if forloop.counter0|divisibleby:2 %}
      </div><br>
      <div class="row">
          
      {% endif %}
      <div class="col-md-2"></div>
      <div class="col-md-3 pt-3 pb-3">
      <div class="card" style="width:18rem; height:16rem ;">
      <img class="card-img-top" src="{{ us.image.url }}" width="250" height="250" alt="not available">
      <div class="card-body">
      
      </div>
      </div>
      <br><h4 class="text-center">{{ us.title }}</h4> 
      </div>
      {% endfor %}
      </div>

<div id="upload book">
  
  <form method="post" class="w-25 mx-auto" enctype="multipart/form-data">
    <h4 class="mb-3">Upload book.</h4>
    {% csrf_token %}
     {{ form.as_p }}
    <button type="submit" class="btn btn-primary mb-5">Upload</button>
  </form>
  

</div>

</div>
   
    <footer class="bg-secondary da-section">
      <div class="container text-white">
        <div class="row">
          <div class="col-md-5">
            <div class="h2 mb-4">READZ</div>
            <p class="mb-3">info@readz.com</p>
            <p>+1 502-257-1157</p>
          </div>
          <div class="col-md-4">
            <div class="h6 pb-2">Follow Us</div>
            <ul>
              <li class="mb-1"><a class="da-social-link" href="#"><i class="fab fa-twitter" aria-hidden="true"></i><span class="ml-2">Twitter</span></a></li>
              <li class="mb-1"><a class="da-social-link" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i><span class="ml-2">Facebook</span></a></li>
              <li class="mb-1"><a class="da-social-link" href="#"><i class="fab fa-instagram" aria-hidden="true"></i><span class="ml-2">Instagram</span></a></li>
              <li class="mb-1"><a class="da-social-link" href="#"><i class="fab fa-youtube" aria-hidden="true"></i><span class="ml-2">Youtube</span></a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="h6 pb-4">Copyright</div>
            <p class="pb-1">&copy; READZ. All rights reserved.</p>
            <p>Design - <a class="credit" href="#services" target="_blank">READZ TEAM</a></p>
          </div>
        </div>
      </div>
    </footer>
    <div id="scrolltop">
      <button class="btn btn-primary"><span class="icon"><i class="fas fa-angle-up fa-2x"></i></span></button>
    </div>
  </body>
</html>

