{% extends 'registration/hf.html' %} {% block content %} {%load staticfiles %}
<div class="container-fluid p-5 bg-light">
    <div class="container bg-white p-5">
                    <div>
            <h1 style = "font-family:georgia,garamond,serif;font-style:italic; !important"><i class="icofont icofont-lock"></i>  Forgot your password ?</h1>
            </div>
<hr/>
        <div class="row ">
            <div class="col-md-12 p-4">
           <font size="5">Don't worry. Resetting your password is easy, just tell us the email address you registered with. </font>
<br/>
<form method="post" class="p-4" style="font-weight: bold;font-size:25" >
    {% csrf_token %}
    {% load crispy_forms_tags %}
     {{ form.as_p}}
     <br/>
     <div class="text-center">
    <button type="submit" class="btn btn-info">Submit</button>
     </div>
</form>
            </div>

        </div>
    </div>
</div>
{% endblock %}