{% extends 'registration/hf.html' %} {% block content %} {% if validlink %}
<div class="row p-5">
    <div class="col-12 p-4">
<h1 class="text-center text-info">Change password</h1>
<form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn btn-info">Change password</button>
</form>
{% else %}
<p><b>
 The password reset link was invalid, possibly because it has already been used.<br> 
 Please request a new password reset.
</b></p>
{% endif %}
</div>
</div>
{% endblock %}
